{% extends 'base.html' %}
{% block content %}
	<article id="author_profile">
		<div id="article_header">
			<hr>
			<h1>{{ author_name }}</h1>
			<hr>
			<p>Register date: {{ author_register_date }}</p>
			<span>{{ author_reputation }}</span>
		</div>
		{% if user_is_author %}
		<button type="button" onclick="location.href='{% url "createArticle" %}'">Create article</button>
		<div>
			{% for article in page_obj %}
				<div><a href="{{ article.get_absolute_url }}">{{ article.title }}<div>
			{% endfor %}
		</div>
		<div class="pagination">
		    <span>
		        {% if page_obj.has_previous %}
		            <a href="?page=1">&laquo; first</a>
		            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
		        {% endif %}

		        <span class="current">
		            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
		        </span>

		        {% if page_obj.has_next %}
		            <a href="?page={{ page_obj.next_page_number }}">next</a>
		            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
		        {% endif %}
		    </span>
		</div>
		{% endif %}
	</article>
{% endblock %}